/** @format */

:root {
  --title-color: #ffffff;
  --main-text-color: #212121;
  --additional-text-color: #757575;
  --button-color: #2196f3;
  --background-color: #ffffff;
  --additional-background-color: #2f303a;
  --button-portfolio: #f5f4fa;
  --portfolio-text-color: #212121;
}

body {
  font-family: Roboto, sans-serif;
}
/*reset and common*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

img{
  display: inline-block;
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*header*/

.nav-list-item .current {
  color: var(--button-color);
}
.nav-link,
.contacts-link,
.contacts-link {
  padding-bottom: 32px;
  padding-top: 32px;
}

.nav-link{
  position: relative;
}

.name-logo {
  display: block;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--button-color);
}

.name-studio {
  color: var(--main-text-color);
}

.nav-list,
.contacts-list {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
}
.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.current::after{
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  position: absolute;
  left: 0;
  bottom: -1.5px;
}

.contacts-list{
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
}

.contacts-email {
  margin-right: 50px;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header{
  background-color: var(--background-color);
  border-bottom: 1px solid #ececec;
}

.logo-link {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav-header {
  display: flex;
}

.nav-link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--button-color);
}

.contacts-link {
  display: flex;
  align-items: center;
  color: var(--additional-text-color);
  text-decoration: none;
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--button-color);
}

.contacts-icon{
  margin-right: 10px;
  fill: currentColor;
}



/*hero*/

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
background-color: var(--additional-background-color);
}

section.hero{
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  background-position: center;
} 

.hero-title {
  color: var(--title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.button-hero {
  color: var(--title-color);
  background-color: var(--button-color);
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: inline-block;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
}


/*advantages*/

.section-title.advantage {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantage-list {
  display: flex;
}

.advantage-item:not(:last-child) {
  margin-right: 30px;
}

.advantage-title {
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantage-description {
  color: var(--additional-text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}


.advantage-block-icon{
  background-color: #F5F4FA;
  border-radius: 4px;
  height: 120px;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

/*--what we do--*/
.img-section{
  padding-top: 0;
}

.img-list {
  display: flex;
}

.img-item:not(:last-child) {
  margin-right: 30px;
}
.img-item{
  position: relative;
}

.section-title {
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.block-text{
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-img{
  color: var(--title-color);
font-weight: 700;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.03em;
text-transform: uppercase;

}

/*--team--*/

.section-team {
  background-color: var(--button-portfolio);
}

.team-list {
  display: flex;
}

.team-item{
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-description {
  color: var(--additional-text-color);
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team-subtitile {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-icon-list{
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon-item+.social-icon-item{
  margin-left: 10px;
}

.social-link:focus,
.social-link:hover{
  background-color: var(--button-color);
}

.social-link{
  border-radius: 50%;
  background-color: var(--background-color);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon{
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:focus .social-icon,
.social-link:hover .social-icon{
  fill: var(--background-color);
}

/*clients*/

.client-list{
  display: flex;
}

.client-item+ .client-item{
  margin-left: 30px;
}

.client-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.client-link:focus,
.client-link:hover{
  color: var(--button-color);
  border-color: var(--button-color);
}

.client-icon{
  fill: currentColor;
}

/*footer*/


.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container{
  display: flex;
  align-items: baseline;
}

.footer-logo {
  margin-bottom: 20px;
}
.footer-text{
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 20px;
}

.location,
.mail {
  margin-bottom: 9px;
}

.address-item:not(:last-child){
  margin-bottom: 9px;
}

.studio {
  color: var(--title-color);
}
.address {
  font-style: normal;
}
.location,
.mail,
.phone {
  color: var(--title-color);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.mail,
.phone {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.phone:focus,
.phone:hover {
  color: var(--button-color);
}

.mail:focus,
.mail:hover {
  color: var(--button-color);
}

.block-address{
  margin-right: 70px;
}

.footer-social-link{
  background-color:rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-icon{
  fill: var(--title-color)
}

.social-block{
  margin-right: 93px;
}

/*subscibe-form---------------------------------*/
.subscribe-block{
display: flex;
align-items: flex-end;
justify-content: center;
}

.input-email{
width: 358px;
height: 50px;
background-color: transparent;
border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;

margin-top: 20px;
}

.input-email::placeholder{
  padding: 15px;
}

.input-block{
  margin-right: 12px;
  max-width: 358px;
}

.button-submit,
.button-send{
width: 200px;
height: 50px;
background-color: var(--button-color);
color: var(--title-color);
font-weight: 700;
font-size: 16px;
line-height: calc(30 / 16);
letter-spacing: 0.06em;

display: flex;
align-items: center;
justify-content: center;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

}

.icon-send{
  margin-left: 10px;
}


/*portfolio*/

.projects {
  background-color: var(--background-color);
}

.projects-title{
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.filter-link {
  background-color: var(--button-portfolio);
  color: var(--portfolio-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-color: transparent;
  display: block;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.215, 0.610, 0.355, 1),
  box-shadow 250ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.filter-link:hover,
.filter-link:focus {
  background-color: var(--button-color);
  color: var(--title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.button-filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-filter:not(:last-child) {
  margin-right: 8px;
}

.project-title {
  color: var(--portfolio-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-text {
  color: var(--additional-text-color);
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}

.project-subtitle {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.projects-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-item:nth-child(3n) {
  margin-right: 0;
}

.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.textover-img{
  position: absolute;
  top: 0;
  left: 0;
  color: var(--title-color);
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.project-block {
  position: relative;
  overflow: hidden;
}

.project-link{
  display: block;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.project-link:hover .textover-img,
.project-link:focus .textover-img{
  transform: translateY(0);
  opacity: 1;
}

.project-link:hover,
.project-link:focus{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*backdrop-------------------------------------------------------------------------------*/
.backdrop{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 3;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.215, 0.610, 0.355, 1),
  visibility 250ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;
  visibility:hidden
}

.backdrop.is-hidden .modal{
  transform: translate(-50%, -50%) skewX(-30deg) scale(1.2);
  opacity: 0;
  background-color: gray;
}

.modal{
  padding: 40px;
background-color: var(--background-color);
position: absolute;
top: 50%;
left: 50%;

width: 528px;
height: 581px;
opacity: 1;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;

transform: translate(-50%, -50%) skewX(0deg) scale(1);
transition: transform 250ms cubic-bezier(0.215, 0.610, 0.355, 1),
opacity 250ms cubic-bezier(0.215, 0.610, 0.355, 1),
background-color 250ms cubic-bezier(0.215, 0.610, 0.355, 1);

}

.button-modal{
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

/*--------------form---------------------------------*/
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-title{
font-weight: 700;
font-size: 20px;
line-height: calc(23 / 20);
letter-spacing: 0.03em;
color: #212121;
}

.form-list{
  margin-top: 12px;
  
}

.block-item{
display: flex;
flex-direction: column;
align-items: flex-start;
}

.form-item:not(:last-child){
  margin-bottom: 10px;
}

.form-list input{
width: 448px;
height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
}

.block-policy label{
font-size: 14px;
line-height: calc(24 / 14);
color: var(--additional-text-color);
letter-spacing: 0.03em;
}

.block-group label{
font-size: 12px;
line-height: calc(14 / 12);
letter-spacing: 0.01em;
color: var(--additional-text-color);
}

.block-policy{
  margin-top: 20px;
}
.policy-link{
  color: var(--button-color);
  text-decoration: underline;
}

.block-submit{
  margin-top: 30px;
}